@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Ysabeau+SC:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url(img/background.jpg);
  background-position: center;
  background-attachment: fixed;
}

.header {
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 0 20px;
}

.header h1 {
  font-family: "Ysabeau SC", sans-serif;
  font-size: 48px;
  color: #fff;
}

.header span {
  font-family: "Ysabeau SC", sans-serif;
  color: #eea47f;
}

.header ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}

.header a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: ease 0.3s all 0s;
}

.header a:hover {
  border-bottom: 1px solid #fff;
}

.content {
  display: flex;
  justify-content: center;
}

.food {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.food h3 {
  color: #eea47f;
  font-size: 48px;
  text-shadow: 0 0 10px black;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

img {
  box-shadow: 0 0 20px black;
  transition: ease 0.3s all 0s;
}

img:hover {
  box-shadow: 0 0 20px #eea47f;
}

.food-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.food-container p {
  color: #fff;
  font-size: 20px;
  width: 500px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px 0;
  text-shadow: 0 0 10px black;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 200px;
  width: 500px;
  padding: 20px;
  margin-top: 325px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: #fff;
}

.text-container h3 {
  font-size: 48px;
  color: #eea47f;
  text-shadow: 0 0 10px black;
}

.text-container p {
  font-size: 20px;
  text-shadow: 0 0 10px black;
}

.recipe-container {
  background: white;
  text-align: center;
  margin-top: 340px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.recipe-container h3 {
  margin: 20px 0 20px 0;
  font-size: 48px;
  color: #eea47f;
  text-shadow: 0 0 10px black;
}

.card {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 20px;
}

.card button {
  height: 250px;
  width: 250px;
  background: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: ease 0.4s all 0s;
}

.card button:hover {
  box-shadow: 0 0 10px #eea47f;
}

.card button a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

.footer {
  margin-top: 50px;
  background: black;
  color: #fff;
  display: flex;
  justify-content: center;
}

.instructions {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 50px;
}

.ingredients {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: #fff;
  padding: 20px;
  line-height: 30px;
  border-radius: 15px;
  text-shadow: 0 0 10px black;
}

.process ul li {
  list-style: none;
}

.ingredients ul li {
  list-style-type: none;
  max-width: 600px;
}

.footer p {
  padding: 20px 0;
}
